body {
    font-family: 'Lato', sans-serif;
    color: white;
    background-image: url("../images/purple-gradient-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
    background-size: cover;
}

p {
    font-size:20px;
    text-align: justify;
}

h1 {
    font-family: 'Staatliches', cursive;
}

.glow {
    color: #FFFFFF;
    background: transparent;
    text-shadow: rgb(100, 100, 100) 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px,
    #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.bg-mia {
    background-color: #200020;
}

.border-groove {
    border: 3px double #40E6FF;
    border-radius: 10px;
}

.thisChoice {
    font-size: 30px;
    background-color: #Eb0075;
}

.thisChoice:hover {
    background-color: #40E6FF;
    color: #Eb0075;
    cursor: pointer;
}

#message {
    background-color: #Eb0075;
    color: white;
}

#actualAnswer {
    background-color: white;
    color: #Eb0075;
    font-size: 25px;
}

#answer-text {
    background-color: #40E6FF;
    color: #200020;
    text-align: justify;
}

#correctAnswers {
    background-color: #Eb0075;
    color: white;
}

#incorrectAnswers {
    background-color: #40E6FF;
    color: #200020;
}

#unanswered {
    background-color: white;
    color: #Eb0075;
}

@media only screen and (max-width: 375px) {
    body {
        margin:0;
        padding:0;
    }

    h2{
        font-size: 25px;
    }

    .thisChoice{
        font-size: 25px;
    }

    .display-1{
        font-size: 40px;
    }

    .subheading{
        font-size:20px;
    }

    p{
        font-size: 22px;
        margin-left: 0;
        margin-right: 0;
    }

    #fullcell-gamearea {
        margin-left:0 !important;
        margin-right:0 !important;
    }
    
    #fullcell-welcome{
        margin-left:0 !important;
        margin-right:0 !important;
    }
}